<!DOCTYPE html>
<html lang="en-US">
<head>
<style>
<!-- .nav { -->
    <!-- line-height:30px; -->
    <!-- background-color:#eeeeee; -->
    <!-- height:300px; -->
    <!-- width:100px; -->
    <!-- float:left; -->
    <!-- padding:5px;  -->
<!-- } -->
.city {
float: right;
margin: 1px;
padding: 5px;
width: 90px;
height: 200px;
<!-- border: 1px solid black; -->
} 
.city1 {
float: right;
margin: 0px;
padding: 0px;
width: 100px;
height: 200px;
} 


.down {
    clear:both;
    text-align:center;
    padding-top:110%; 
}



</style>
</head>

<body>
<!-- <div class="nav"></div> -->
<!-- <h1>W3School Demo</h1> -->
<!-- <h2>Resize this responsive page!</h2> -->
<!-- <br> -->


<div class="city">
<img src="./111.png" />
<p>周五</p>
<p>9月12日</p>
<p>23~34°C</p>
<p>东风4级</p>
</div>
<div class="city">
<img src="./111.png" />
<p>周四</p>
<p>9月11日</p>
<p>23~34°C</p>
<p>东风4级</p>
</div>

<div class="city">
<img src="./111.png" />
<p>周三</p>
<p>9月10日</p>
<p>23~34°C</p>
<p>东风4级</p>
</div>
<div class="city">
<img src="./111.png" />
<p>周二</p>
<p>9月9日</p>
<p>23~34°C</p>
<p>东风4级</p>
</div>
<div class="city1">
<img src="./111.png" />
<p>周一</p>
<p>9月8日</p>
<p>23~34°C</p>
<p>东风4级</p>
</div>

<div class="down">
<p>以上是我们今天讲解的css布局_div css布局重要及说明</p>

</div>

</body>
</html>